<h1><%= @place["name"] %></h1>


<ul>
  <% for post in @posts %>
    <li><%= post["title"] %>, <%= post["description"] %>, <%= post["date"] %></li>
  <% end %>
</ul>

<p>
  <a href="/posts/new">New Post</a>
</p>
  
