<h1><%= @place["name"] %></h1>

  <% for post in @posts %>
    <div class="col-3">
      <h4><%= post["title"] %></h4>
      <p><%= post["description"] %></p>
      <p><%= post["posted_on"] %></p>
    </div>
  <% end %>

  <p><a href="/posts/new">New Post</a></p>